* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 55%;
    margin: 5rem auto;
}

/* HEADER */


.logo {
    width: 5rem;
    vertical-align: middle;
    margin: 0 2rem;
}

header a {
    text-decoration: none;
}

header>a {
    font-size: 1.4rem;
    vertical-align: middle;
    color: gray;
}

nav {
    border-bottom: 1px solid gray;
}

nav a {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
}

nav li {
    margin-left: 2rem;
    display: inline-block;
}

nav div {
    padding: 1rem 0;
}

.color_blue {
    color: blue;
}

.bg_bottom_blue {
    border-bottom: 2px solid blue;
}

/* /HEADER */

/* MAIN */

.answer {
    margin: 1rem 0;
}

/* /MAIN */

/* FOOTER */
footer {
    background-color: lightgray;
    height: 3rem;
}

/* /FOOTER */